openapi: 3.0.1
info:
  title: SimpleTexting Campaigns Contacts - Batch Operations API
  description: The SimpleTexting v2 REST API lets developers send SMS and MMS messages, manage contacts and contact lists, run bulk campaigns, upload media, read custom fields and segments, and subscribe to webhook events. The API is organized around REST, uses standard HTTP verbs and response codes, accepts and returns JSON, and is authenticated with a bearer token in the Authorization header.
  termsOfService: https://simpletexting.com/terms-of-service/
  contact:
    name: SimpleTexting Support
    url: https://simpletexting.com/api/
    email: support@simpletexting.com
  version: '2.0'
servers:
- url: https://api-app2.simpletexting.com/v2
  description: SimpleTexting v2 production API
security:
- bearerAuth: []
tags:
- name: Contacts - Batch Operations
  description: Batch update and delete groups of contacts.
paths:
  /api/contacts-batch/batch-update:
    post:
      operationId: batchUpdateContacts
      tags:
      - Contacts - Batch Operations
      summary: Update a Group of Contacts
      description: Submits an asynchronous batch update task for a group of contacts.
      responses:
        '200':
          description: Batch task accepted.
  /api/contacts-batch/batch-update/{taskId}:
    get:
      operationId: getBatchUpdateResult
      tags:
      - Contacts - Batch Operations
      summary: Get the Result of a Batch Update Task
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Batch task result.
  /api/contacts-batch/batch-delete:
    post:
      operationId: batchDeleteContacts
      tags:
      - Contacts - Batch Operations
      summary: Delete a Group of Contacts
      responses:
        '200':
          description: Batch delete accepted.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Send the API token as a bearer token in the Authorization header: `Authorization: Bearer <token>`. Generate a token in the SimpleTexting web app under Settings.'
