openapi: 3.2.0
info:
  title: SimpleTexting API Documentation Tenant API
  description: '# Introduction


    Thousands of businesses rely on SimpleTexting to communicate with their audience via text message.'
  termsOfService: https://simpletexting.com/terms/
  version: 2.0.0
servers:
- url: https://api-app2.simpletexting.com/v2
security:
- api_key: []
tags:
- name: Tenant
  description: General information about account
paths:
  /api/tenant:
    get:
      tags:
      - Tenant
      summary: Get general information
      description: Retrieves a general information about account.
      operationId: getTenantInfo
      responses:
        '200':
          description: Success. Returns a list of messages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantInfo'
components:
  schemas:
    TenantInfo:
      type: object
      properties:
        email:
          title: Account email
          type: string
          example: owner@example.com
  securitySchemes:
    api_key:
      type: apiKey
      description: 'Bearer authentication (also called token authentication) is an authentication scheme that involves security tokens called bearer tokens. The name “Bearer authentication” can be understood as “give access to the bearer of this token.” The bearer token is a cryptic string, usually generated by the server in response to a login request. The client must send this token in the `Authorization: Bearer <token>` header when making requests to protected resources. To understand more about bearer tokens, please take a look at the following [resource](https://swagger.io/docs/specification/authentication/bearer-authentication/).'
      name: Authorization
      in: header
x-tagGroups:
- name: CAMPAIGNS & MESSAGES
  tags:
  - Campaigns
  - Messages
  - Media Items
  - File Information
- name: Contacts
  tags:
  - Contacts
  - Contacts - Batch Operations
  - Contact Lists
  - Contact Segments
  - Custom Fields
- name: Webhook Services
  tags:
  - Webhooks
  - Webhook Reports
