openapi: 3.0.1
info:
  title: SimpleTexting Campaigns Media Items API
  description: The SimpleTexting v2 REST API lets developers send SMS and MMS messages, manage contacts and contact lists, run bulk campaigns, upload media, read custom fields and segments, and subscribe to webhook events. The API is organized around REST, uses standard HTTP verbs and response codes, accepts and returns JSON, and is authenticated with a bearer token in the Authorization header.
  termsOfService: https://simpletexting.com/terms-of-service/
  contact:
    name: SimpleTexting Support
    url: https://simpletexting.com/api/
    email: support@simpletexting.com
  version: '2.0'
servers:
- url: https://api-app2.simpletexting.com/v2
  description: SimpleTexting v2 production API
security:
- bearerAuth: []
tags:
- name: Media Items
  description: Upload and manage MMS media items.
paths:
  /api/mediaitems:
    get:
      operationId: getMediaItems
      tags:
      - Media Items
      summary: Get Media Items
      responses:
        '200':
          description: A page of media items.
  /api/mediaitems/upload:
    post:
      operationId: uploadMedia
      tags:
      - Media Items
      summary: Upload Media
      description: Uploads a media file for use in MMS messages.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: The uploaded media item.
  /api/mediaitems/loadByLink:
    post:
      operationId: uploadMediaByLink
      tags:
      - Media Items
      summary: Upload Media Using a URL
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
      responses:
        '200':
          description: The uploaded media item.
  /api/mediaitems/{mediaItemId}:
    get:
      operationId: getMediaItem
      tags:
      - Media Items
      summary: Get Media Item
      parameters:
      - name: mediaItemId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The requested media item.
    delete:
      operationId: deleteMedia
      tags:
      - Media Items
      summary: Delete Media
      parameters:
      - name: mediaItemId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Media item deleted.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Send the API token as a bearer token in the Authorization header: `Authorization: Bearer <token>`. Generate a token in the SimpleTexting web app under Settings.'
