openapi: 3.2.0
info:
  title: SimpleTexting API Documentation Contact Segments API
  description: '# Introduction


    Thousands of businesses rely on SimpleTexting to communicate with their audience via text message.'
  termsOfService: https://simpletexting.com/terms/
  version: 2.0.0
servers:
- url: https://api-app2.simpletexting.com/v2
security:
- api_key: []
tags:
- name: Contact Segments
  description: Get all of the segments on a given SimpleTexting account.
paths:
  /api/contact-segments:
    get:
      tags:
      - Contact Segments
      summary: Get all Segments
      description: 'Retrieves all segments from your SimpleTexting account.


        **Example:** Here we return all segments from an account:


        `https://api-app2.simpletexting.com/v2/api/contact-segments?page=100&size=2`'
      operationId: getSegments
      parameters:
      - name: page
        in: query
        description: An ordinal number of the page to return with the results of a request (with the segments of the given account). Please note that page numbering starts at zero (`0`)
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
        example: 0
      - name: size
        in: query
        description: The number of the returned segments to show per page
        required: false
        schema:
          maximum: 500
          type: integer
          format: int32
          default: 50
        example: 50
      responses:
        '200':
          description: Success. Returns all segments from your SimpleTexting account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageViewSegment'
components:
  schemas:
    PageViewSegment:
      type: object
      properties:
        content:
          type: array
          description: Page content and number of elements is restricted by page size.
          items:
            $ref: '#/components/schemas/Segment'
        totalPages:
          type: integer
          description: The total number of pages. This is the number of elements divided by the page size.
          format: int32
        totalElements:
          type: integer
          description: Total number of elements.
          format: int64
      description: Page representation for search/fetch result
    Segment:
      type: object
      properties:
        segmentId:
          title: Segment ID in hexadecimal format
          type: string
          example: 507f191e810c19729de860ea
        name:
          title: Segment name
          type: string
        created:
          title: Created timestamp
          type: string
          format: date-time
        updated:
          title: Updated timestamp
          type: string
          format: date-time
      description: Page content and number of elements is restricted by page size.
  securitySchemes:
    api_key:
      type: apiKey
      description: 'Bearer authentication (also called token authentication) is an authentication scheme that involves security tokens called bearer tokens. The name “Bearer authentication” can be understood as “give access to the bearer of this token.” The bearer token is a cryptic string, usually generated by the server in response to a login request. The client must send this token in the `Authorization: Bearer <token>` header when making requests to protected resources. To understand more about bearer tokens, please take a look at the following [resource](https://swagger.io/docs/specification/authentication/bearer-authentication/).'
      name: Authorization
      in: header
x-tagGroups:
- name: CAMPAIGNS & MESSAGES
  tags:
  - Campaigns
  - Messages
  - Media Items
  - File Information
- name: Contacts
  tags:
  - Contacts
  - Contacts - Batch Operations
  - Contact Lists
  - Contact Segments
  - Custom Fields
- name: Webhook Services
  tags:
  - Webhooks
  - Webhook Reports
