openapi: 3.2.0
info:
  title: SimpleTexting API Documentation Tenant phones API
  description: '# Introduction


    Thousands of businesses rely on SimpleTexting to communicate with their audience via text message.'
  termsOfService: https://simpletexting.com/terms/
  version: 2.0.0
servers:
- url: https://api-app2.simpletexting.com/v2
security:
- api_key: []
tags:
- name: Tenant phones
paths:
  /api/phones:
    get:
      tags:
      - Tenant phones
      summary: Get all phones
      description: Retrieve all phone numbers for account.
      operationId: getTenantPhones
      parameters:
      - name: page
        in: query
        description: 'The number of phone numbers returned with each request


          **Example:** `250`'
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
        example: 250
      - name: size
        in: query
        description: 'The size of the page


          **Example:** `150`'
        required: false
        schema:
          maximum: 500
          type: integer
          format: int32
          default: 50
        example: 150
      responses:
        '200':
          description: Success. Returns a paginated list of contacts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageViewTenantPhone'
components:
  schemas:
    TenantPhone:
      type: object
      properties:
        number:
          title: Phone number
          type: string
          example: '1234567890'
        name:
          title: Phone name
          type: string
          example: Primary phone
      description: Page content and number of elements is restricted by page size.
    PageViewTenantPhone:
      type: object
      properties:
        content:
          type: array
          description: Page content and number of elements is restricted by page size.
          items:
            $ref: '#/components/schemas/TenantPhone'
        totalPages:
          type: integer
          description: The total number of pages. This is the number of elements divided by the page size.
          format: int32
        totalElements:
          type: integer
          description: Total number of elements.
          format: int64
      description: Page representation for search/fetch result
  securitySchemes:
    api_key:
      type: apiKey
      description: 'Bearer authentication (also called token authentication) is an authentication scheme that involves security tokens called bearer tokens. The name “Bearer authentication” can be understood as “give access to the bearer of this token.” The bearer token is a cryptic string, usually generated by the server in response to a login request. The client must send this token in the `Authorization: Bearer <token>` header when making requests to protected resources. To understand more about bearer tokens, please take a look at the following [resource](https://swagger.io/docs/specification/authentication/bearer-authentication/).'
      name: Authorization
      in: header
x-tagGroups:
- name: CAMPAIGNS & MESSAGES
  tags:
  - Campaigns
  - Messages
  - Media Items
  - File Information
- name: Contacts
  tags:
  - Contacts
  - Contacts - Batch Operations
  - Contact Lists
  - Contact Segments
  - Custom Fields
- name: Webhook Services
  tags:
  - Webhooks
  - Webhook Reports
