openapi: 3.0.1
info:
  title: SimpleTexting Campaigns Tenant API
  description: The SimpleTexting v2 REST API lets developers send SMS and MMS messages, manage contacts and contact lists, run bulk campaigns, upload media, read custom fields and segments, and subscribe to webhook events. The API is organized around REST, uses standard HTTP verbs and response codes, accepts and returns JSON, and is authenticated with a bearer token in the Authorization header.
  termsOfService: https://simpletexting.com/terms-of-service/
  contact:
    name: SimpleTexting Support
    url: https://simpletexting.com/api/
    email: support@simpletexting.com
  version: '2.0'
servers:
- url: https://api-app2.simpletexting.com/v2
  description: SimpleTexting v2 production API
security:
- bearerAuth: []
tags:
- name: Tenant
  description: Account information and sending phone numbers.
paths:
  /api/tenant:
    get:
      operationId: getTenant
      tags:
      - Tenant
      summary: Get general information
      description: Returns general account (tenant) information, including credit balance.
      responses:
        '200':
          description: Tenant information.
  /api/phones:
    get:
      operationId: getAllPhones
      tags:
      - Tenant
      summary: Get all phones
      description: Returns the sending phone numbers provisioned on the account.
      responses:
        '200':
          description: A page of sending phone numbers.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Send the API token as a bearer token in the Authorization header: `Authorization: Bearer <token>`. Generate a token in the SimpleTexting web app under Settings.'
